// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-roboto: 'Roboto', sans-serif;

// Colors
$dark: #242B33;
$accent: #d4c17f;
$white: #fff;
$footer-bg: #2D343C;
$placeholder: #bebebe;
$muted: #e7e7e7;

// Media
$tablet: 959px;